**TITLE OF PROJECT**-MILEAGE PREDICTION- REGRESSION ANALYSIS

**OBJECTIVE**-THE DATA CONCERNS CITY-CYCLE FUEL CONSUMPTION IN MILES PER GALLON,TO BE PREDICTED IN TERMS OF 3 MULTIVALUED DISCRETE AND 5 CONTINUOUS ATTRIBUTES.

In [1]:
#IMPORT LIBRARY
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#IMPORT DATASET
df=pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/MPG.csv')

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [5]:
df.nunique()

mpg             129
cylinders         5
displacement     82
horsepower       93
weight          351
acceleration     95
model_year       13
origin            3
name            305
dtype: int64

In [ ]:
#DATA PREPROCESSINIG
df.info()

In [ ]:
df.describe()

In [ ]:
df.corr()

In [ ]:
#REMOVING MISSING VALUES
df=df.dropna()
df.info()

In [ ]:
#DATA VISUALIZATION
sns.pairplot(df,x_vars=['displacement','horsepower','weight','acceleration','mpg'], y_vars=['mpg']);

In [ ]:
sns.regplot(x='displacement',y='mpg',data=df);

In [ ]:
#DEFINE TARGET VARIABLE Y AND FEATURE X
df.columns

In [ ]:
y=df['mpg']
y.shape

In [14]:
X=df[['displacement','horsepower','weight','acceleration']]

In [ ]:
X.shape

In [ ]:
X

In [ ]:
#SCALING DATA
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
X=ss.fit_transform(X)
X

In [ ]:
pd.DataFrame(X).describe()

In [38]:
#TRAIN TEST SPLIT DATA
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=2529)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((274, 4), (118, 4), (274,), (118,))

In [ ]:
#Linear Regression model
from sklearn.linear_model import LinearRegression
lr= LinearRegression()
lr.fit(X_train,y_train)

In [ ]:
lr.intercept_

In [ ]:
lr.coef_

In [ ]:
#Predict test data
y_pred=lr.predict(X_test)
y_pred

In [ ]:
#Model Accuracy
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,r2_score
mean_absolute_error(y_test,y_pred)

In [ ]:
mean_absolute_percentage_error(y_test,y_pred)

In [ ]:
r2_score(y_test,y_pred)

In [ ]:
#PLOYNOMIAL REGRESSION
from sklearn.preprocessing import PolynomialFeatures
poly=PolynomialFeatures(degree=2,interaction_only=True,include_bias=False)
X_train2=poly.fit_transform(X_train)
X_test2=poly.fit_transform(X_test)
lr.fit(X_train2,y_train)
lr.intercept_

In [ ]:
lr.coef_

In [47]:
y_pred_poly=lr.predict(X_test2)

In [48]:
#Model Accuracy
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,r2_score
mean_absolute_error(y_test,y_pred_poly)

2.7887147720295977

In [49]:
mean_absolute_percentage_error(y_test,y_pred_poly)

0.12074018342938687

In [50]:
r2_score(y_test,y_pred_poly)

0.7461731314563803